$big-text: calc(10px + 2vmin);
$small-text: calc(5px + 2vmin);
$default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
$code-font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
