$padding-micro: 4px;
$padding-small: 8px;
$padding-double: 16px;
$padding-triple: 24px;
$padding-mega: 32px;

$margin-micro: 4dp;
$margin-small: 8dp;
$margin-double: 16dp;
$margin-triple: 24dp;
$margin-mega: 32dp;

$margin-phone: $margin-double;
$margin-tablet: $margin-mega;
$margin-big-tablet: auto;
$margin-laptop: 200dp;
$margin-desktop: 1040dp;

$body-phone: 100%;
$body-tablet: 100%;
$body-big-tablet: 840dp;
$body-laptop: 100%;
$body-desktop: 100%;
