@import 'display';
@import 'layout';

.card {
  padding: $padding-small;

  @media only screen and (max-width: $phone-max) {

  }

  @media only screen and (min-width: $tablet-min) and (max-width: $tablet-max) {

  }

  @media only screen and (min-width: $big-tablet-min) and (max-width: $big-tablet-max) {
    padding: $padding-double;
  }

  @media only screen and (min-width: $laptop-min) and (max-width: $laptop-max) {

  }

  @media only screen and (max-width: $desktop-min) {
    padding: $padding-triple;
  }
}