@import 'display';
@import 'layout';


.responsive-grid {
  @media only screen and (max-width: $phone-max) {
    margin: $margin-phone;
    width: $body-phone
  }

  @media only screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    margin: $margin-tablet;
    width: $body-tablet;
  }

  @media only screen and (min-width: $big-tablet-min) and (max-width: $big-tablet-max) {
    margin: $margin-big-tablet;
    width: $body-big-tablet;
  }

  @media only screen and (min-width: $laptop-min) and (max-width: $laptop-max) {
    margin: $margin-laptop;
    width: $body-laptop;
  }

  @media only screen and (max-width: $desktop-min) {
    margin: $margin-desktop;
    width: $body-desktop
  }
}