@import 'styles/colours';
@import 'styles/fonts';
@import 'styles/layout';

.App {
  text-align: center;
}


div {
  background-color: $background;
  color: $foreground;
}

p {
  text-align: center;
}

a {
  color: $link;
}

header {
  height: 50vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: $big-text;
}

.body {
  height: 50vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: $small-text;
}

.padding-top {
  padding-top: $padding-big;
}

.big-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .big-logo {
    animation: big-logo-spin infinite 20s linear;
  }
}

@keyframes big-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
